{
  "presets": [
    ["@vue/app", { useBuiltIns: "entry" }]
  ],
  "plugins": [],
  "env": {
    "development": {
      "plugins": ["dynamic-import-node"]
    },
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
